body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-heading {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.web-series-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.web-series-item {
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.web-series-item img {
    width: 100%;
    border-radius: 10px;
}

.web-series-item h3 {
    margin-top: 10px;
    font-size: 18px;
}
